//for tables.scss

table {
    width : 100%;
    max-width:30% ;
    border-color: black;
    border: 1px solid black;
    th{

padding: 5px;
    }
     td {
        padding: 5px;
}


}
  

  tr{
   left:50px;
   border-color: black;
    td{
        text-align: center;
    }
  }

  li{
      color: black;
  }

  tr{
      color: red;
  }